.u-section-1 .u-sheet-1 {
  min-height: 958px;
}

.u-section-1 .u-image-1 {
  width: 395px;
  height: 193px;
  margin: 60px auto 0 373px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: normal;
  align-self: center;
  margin: 37px auto 0 423px;
  padding: 3px 24px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: normal;
  margin: -32px auto 60px 586px;
  padding: 2px 39px 4px 38px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 223px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 386px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 325px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 145px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 166px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 110px;
}

.u-section-2 .u-icon-1 {
  height: 37px;
  width: 37px;
  margin: 21px auto 0 552px;
}

.u-section-2 .u-text-1 {
  margin: 10px 519px 0 485px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  margin: -27px auto 21px 621px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 419px;
    margin-left: 397px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 428px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 309px;
    margin-left: 336px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 239px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-icon-1 {
    margin-left: 503px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 219px;
    margin-left: 298px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 97px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-icon-1 {
    margin-left: 303px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 119px;
    margin-left: 169px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 26px;
  }
}