.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 97px 1044px 60px -80px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 944px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 834px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 744px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 644px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 110px;
}

.u-section-2 .u-icon-1 {
  height: 37px;
  width: 37px;
  margin: 21px auto 0 552px;
}

.u-section-2 .u-text-1 {
  margin: 10px 519px 0 485px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  margin: -27px auto 21px 621px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 419px;
    margin-left: 397px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 428px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 309px;
    margin-left: 336px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 239px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-icon-1 {
    margin-left: 503px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 219px;
    margin-left: 298px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 97px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-icon-1 {
    margin-left: 303px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 119px;
    margin-left: 169px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 26px;
  }
}